<div class="contenido"> 
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
            <div class="card_register">
            <div class="card">
                <div class="card-body text-center">
                    <form action="">
                        <h1 class="h3 mb-3 font-weight-normal">Registrese en Auditiva</h1>
                        <div class="form-group">
                            <input type="text" id="Correo" name="Correo" class="form-control"
                            placeholder="Correo" required>
                            <div id="edit-code-description" class="description">Ingrese su correo eletronico
                                </div>
                             </div>
                             <button routerLink="/user/password" type="submit" class="btn btn-lg btn-primary
                             btn-block">Continuar</button>   
                             <div class="form-group">
                                 <a routerLink="/user/login" class="form-control login-user">Ya tienes una cuenta?</a>
                             </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        
