<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

<div class="contenido">
    <a ><img class="pequeña" src="assets/img/Error404.png" alt=""></a>

    <div class="parte2">
        <p align=center style="width:900px;
            height:100px;  margin-left: 200px;
       ">
            Lo sentimos pero la pagina a la que estas intentando acceder no existe o esta restrigidad.
            <br>
            Prueba a dirigirte hacia la <a style="color: rgb(255, 38, 0);"  routerLink="/home"> pagina principal</a>, o utiliza el buscador para hallar aquello que estas buscando.
        </p>
    </div>

</div>

