.contenido {
    padding-top: 170px;
   }

   img.pequeña{
    display:block;
    margin:auto;
    margin-top: -150px;
      width: 1100px; height: 573px;
  }

  .parte2 p{
    color: #212529;
    border: 0px solid;
    margin: 50px;
    font: 25px 'Roboto Condensed';
    width: 600px;
    height: 100px;
    /* background: var(--red); */
    float: left;
    margin-left: 300px;
    margin-top: 30px;
  }