<head>
        <title Document></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
        <script src="header.js"></script>
    </head>

    <app-nav-lateral></app-nav-lateral>
    
<body>
<div class="contenido">

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Temas</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

        </div>
    </header>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">¿Que quiere aprender?</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

        </div>
    </section>

    <section class="bg-white btn-container" >

        <div class="btn-item" >
            <a   class="btn-ghost" routerLink="/contenido/vocabulario/multiplicaciones">Multiplicaciones</a>
            <br>
            <a style="margin-top: -15px; margin-left: 80px;" class="btn-ghost" routerLink="/contenido/vocabulario/divisiones"> Divisiones</a>
            <a style="margin-top: -110px; margin-left: 900px;" class="btn-ghost" routerLink="/contenido/vocabulario/fracciones"> Fracciones</a>

        </div>
    </section>

</div>
</body>