
    <app-nav-lateral></app-nav-lateral>
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>
    
<div class="contenido">

  
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Datos, operaciones </h1>
             <h1 class="masthead-heading text-uppercase mb-0"> y resultados </h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

        </div>
    </header>

  </div>

<div class="parte1">
    <br>
    <h1 align=center >3 sencillos pasos para resolver los problemas</h1>
        <img   align=center class="pequeña" src="assets/img/conceptos1.png" alt="">
        <p>
                Como habras notado los problemas matematicos suelen ser muy parecidos cuando se escribe. 
                Tienen una primera parte y despues una pregunta al final.
            </p>
</div>

<div class="parte2">
            <p align=center style="width:900px;
            height:100px;  margin-left: 200px;
        margin-top: 10px;" >
                Una idea para resolver los problemas matematicos es organizar en tres partes:
                Datos, Operaciones y Resultado.
                </p>
</div>


<div class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/tres-trucos-para.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/IconNuevo.png" alt=""></a>

    </div>



<div class="estrella">
<i>
    <span  align=center  class="glyphicon glyphicon-star"> </span>  
</i>
</div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Datos</h2>
    
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <p align=center >
               Es la informacion que tenemos y que nos dice el texto del problema. Suele estar 
               en la primera parte del problema.
                </p>

        <div class="parte2">
            <p align=center  style="margin-top: 0px; margin-bottom: -10px;" >
                <span class="glyphicon glyphicon-comment"></span> Una caja tiene 5 galletas. Si compramos 4 cajas ¿cuantas galletas tenemos?
            </p>
        </div>
        </div>
    </section>

    <div class="video1">
            <video style="margin-left: 180px;" class="pequeña" src="assets/video/datos.mp4" controls width="640" height="480"></video>
            <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/IconNuevo2.png" alt=""></a>
    
        </div>

        
<div class="estrella">
    <i>
        <span  align=center  class="glyphicon glyphicon-star"> </span>  
    </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Operaciones</h2>
    
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <p align=center >
            Para llegar a la solucion hay que hacer alguna operacion. Las operaciones son la suma, la resta,
            la multiplicacion o la division. Depende de que pregunte el problema.
                </p>

                <div class="video1" >
                    <a ><img class="pequeña" style="width:550px; height: 500px; margin-bottom: 20px; margin-left: 300px;" src="assets/img/IconNuevo3.png" alt=""></a>
                    </div>

        <div class="parte2">
            <p align=center  style="margin-top: 0px; margin-bottom: -10px;" >
                <span class="glyphicon glyphicon-comment"></span> Una caja tiene 5 galletas. Si compramos 4 cajas ¿cuantas galletas tenemos?
            </p>
        </div>
        </div>
    </section>

    <div class="video1" >
        <a ><img class="pequeña" style="margin-top: 0px;" src="http://placehold.it/700x400" alt=""></a>
        <a ><img class="pequeña" style="float: center; margin-left: 150px; margin-top: 0px;" src="assets/img/IconNuevo4.png" alt=""></a>

</div>

<div class="estrella">
    <i>
        <span  align=center  class="glyphicon glyphicon-star"> </span>  
    </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Resultado</h2>
    
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <p align=center >
            El resultado es la conclusion de la operacion. Depende de que pregunte el problema al final.
            Suele estar en la pregunta final.
                </p>

        <div class="parte2">
            <p align=center  style="margin-top: 0px; margin-bottom: -10px;" >
                <span class="glyphicon glyphicon-comment"></span> Una caja tiene 5 galletas. Si compramos 4 cajas ¿cuantas galletas tenemos?
            </p>
        </div>
        </div>
    </section>

    <div class="video1" >
        <a ><img class="pequeña" style="margin-top: 0px;" src="http://placehold.it/700x400" alt=""></a>
        <a ><img class="pequeña" style="float: center; margin-left: 150px; margin-top: 0px;" src="assets/img/IconNuevo5.png" alt=""></a>

</div>


</body>
