<div class="contenido"> 
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
            <div class="card_register">
            <div class="card">
                <div class="card-body text-center">
                    <form action="">
                        <h1 class="h3 mb-3 font-weight-normal">¡Registra tu Contraseña!</h1>

                        <div class="form-group">
                                <div id="edit-code-description" class="description">Contraseña
                                    </div>
                            <input type="text" id="password" name="password" class="form-control"
                            placeholder="Ingrese su nueva contraseña" required>
                             </div>

                             <div class="form-group">
                                    <div id="edit-code-description" class="description">Verificar
                                        </div>
                                <input type="text" id="password2" name="password2" class="form-control"
                                placeholder="Ingresa otra vez la contraseña" required>
                                 </div>

                             <button type="submit" class="btn btn-lg btn-primary
                             btn-block">Continuar</button>   
                         
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        
