<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">

<div style="margin-top: -50px;" class="sidebar">
    <nav>
      <ul class="cd-primary-nav">
  
        <div class="menu-contenedor">
  
          <div class="cerrar-menu">
            <a class="cd-primary-nav-trigger  " href="#0">
            </a>
          </div>
  
          <div class="separador"> </div>
  
          <div class="menu-multiplicar">
            <h1>Multiplicaciones</h1>
            <ul>
              <li><a  (click)="close('Cerrar')" routerLink="/contenido/vocabulario/multiplicaciones">Vocabulario</a></li>
            </ul>
  
            <ul>
              <li><a  (click)="close('Cerrar')"  routerLink="/contenido/teoria-multiplicaciones">Teoria: Multiplicaciones</a></li>
            </ul>
  
            <ul>
              <li><a  (click)="close('Cerrar')"  routerLink="/contenido/multiplicaciones-Actividad1"> Actividad 1</a></li>
              <li><a  (click)="close('Cerrar')"  href="actividad-multiplicar2.php"> Actividad 2</a></li>
              <li><a  (click)="close('Cerrar')"  href="actividad-multiplicar3.php"> Examen </a></li>
  
  
            </ul>
          </div>
          <div class="menu-division">
            <h1>Divisiones</h1>
  
            <ul>
              <li><a  (click)="close('Cerrar')"  routerLink="/contenido/vocabulario/divisiones">Vocabulario</a></li>
            </ul>
            <ul>
  
              <li><a  (click)="close('Cerrar')" routerLink="/contenido/teoria-divisiones">Teoria: Divisiones</a></li>
            </ul>
  
            <ul>
              <li><a  (click)="close('Cerrar')" routerLink="/contenido/division-Actividad1">Actividad 1</a></li>
              <li><a  (click)="close('Cerrar')" href="actividad-division2.php">Actividad 2</a></li>
              <li><a  (click)="close('Cerrar')" href="actividad-division3.php">Actividad 3</a></li>
              <li><a  (click)="close('Cerrar')" href="actividad-division3.php"> Examen </a></li>
  
            </ul>
          </div>
          <div class="menu-fracciones">
            <h1>Fracciones</h1>
  
            <ul>
  
  
              <ul>
                <li><a  (click)="close('Cerrar')" routerLink="/contenido/vocabulario/fracciones">Vocabulario</a></li>
              </ul>
  
              <li><a  (click)="close('Cerrar')" routerLink="/contenido/teoria-fracciones-parte-1">Teoria: Suma y resta con igual denominador</a>
                <ul>
                  <li><a  routerLink="/contenido/fraccines-Actividad1">Actividad 1</a></li>
                  <li><a href="fraccion-ejercicio-igual-denominador2.php">Actividad 2</a></li>
                </ul>
              </li>
  
              <li><a  (click)="close('Cerrar')" routerLink="/contenido/teoria-fracciones-parte-2">Teoria: Fracción de una cantidad</a>
                <ul>
                  <li><a  (click)="close('Cerrar')" href="fraccion-ejercicio-una-cantidad1.php">Actividad 1</a></li>
                  <li><a  (click)="close('Cerrar')" href="fraccion-ejercicio-una-cantidad2.php">Actividad 2</a></li>
                </ul>
              </li>
  
              <li><a  (click)="close('Cerrar')" (click)="close('Cerrar')" href="fraccion-ejercicio-una-cantidad2.php">Examen </a></li>
  
            </ul>
  
          </div>
        </div>
  
      </ul>
    </nav>
  
  </div>