
<div class="container">
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; Auditiva-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Formularios</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted"  routerLink="/user/login">Inicio Sesion</a></li>
          <li><a class="text-muted"  routerLink="/user/register">Registrarse</a></li>
          <li><a class="text-muted"  routerLink="/home">Registrarse-Correo-contraseña</a></li>
          <li><a class="text-muted"  routerLink="/navLateral">navLateral</a></li>
          <li><a class="text-muted"  routerLink="/home">Inicio</a></li>
          <li><a class="text-muted"  routerLink="/home/contenido">Contenido</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted"  routerLink="/administrador/perfil">Perfil-Administrador</a></li>
          <li><a class="text-muted"  routerLink="/profesor/perfil">Perfi-Profesor</a></li>
          <li><a class="text-muted" routerLink="/estudiante/perfil">Perfi-Estudiante</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>