<app-nav-lateral></app-nav-lateral>

<body>

        <script src="https://code.jquery.com/jquery-latest.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        
        
    <div class="contenido">


        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">Teoria </h1>
                <h1 class="masthead-heading text-uppercase mb-0">Multiplicaciones </h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

            </div>
        </header>

    </div>

    <div  class="parte1">
        <br>
        <h1 align=center>Aprende a multiplicar numeros de 2 o mas cifras</h1>
        <img align=center class="pequeña" src="assets/img/iconoMulti.png" alt="">
        <p>
            Veamos un ejemplo:
            <br>
            529 X 4

        </p>

    </div>

    <div class="parte2">
        <p align=center style="width:900px;
            height:100px;  margin-left: 200px;
        margin-top: 10px;">
            El numero 4 se multiplicara por cada cifra de 529, en orden.
        </p>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 style="margin-top: 300px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                ¿Como empezar?</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p align=center>
                Primero: El numero de abajo: 4, se multiplicara por cada numero de arriba,
                a la derecha. 4x9.
                <br>
                Segundo: El proximo numero a la izquierda. 4x2.
                <br>
                Y tercero: 4x5 El proximo a la izquierda.
            </p>

        </div>
    </section>

    <div class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/multiplicacion-teoria1.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriMulti.png" alt=""></a>

    </div>

    <div class="estrella">
        <i>
            <span align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <div class="parte2">
        <p align=center style="width:900px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            Multiplicamos el 4 por el primer numero a la derecha: 4x9
            <br>
            4x9 ¿cuanto es? 36.

        </p>

        <p align=center style="width:900px;
height:100px;  margin-left: 200px;
margin-top: 10px;">
            Escribimos solo el 6 abajo. El 3 lo guardamos para despues.
        </p>

    </div>

    <div class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/multiplicacion-teoria2.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriMulti2.png" alt=""></a>

    </div>
        <div class="estrella">
                <i>
                    <span align=center class="glyphicon glyphicon-star"> </span>
                </i>
            </div>

            <div class="parte2">
                    <p align=center style="width:900px;
                        height:100px;  margin-left: 200px;
                    margin-top: 10px;">
                     Luego: Multiplicar 4 por el numero siguiente a la izquierda: 4x2.
                     <br>
                     4x2 ¿cuanto es? 8.
                    </p>
                </div>

                <div class="parte2">
                        <p align=center style="margin-top: 0px; margin-bottom: -10px;">
                            <span class="glyphicon glyphicon-comment"></span> Recuerda: haz guardado un 3 de antes.
                            Hay que sumarlo: 8+3 ¿cuanto es? 11
                        </p>

                    </div>

                    <div class="parte2">
                        
                            <p align=center style="width:900px;
                            height:100px;  margin-left: 200px;
                        margin-top: 10px;">
                                    11 tiene dos cifras: 1 y 1.
                                    <br>
                                    Escribimos abajo un 1 y guardamos el otro 1 para despues.
                                </p>
    

                    </div>

                    <div class="video1">
                        <video style="margin-left: 180px;" class="pequeña" src="assets/video/multiplicacion-teoria1.mp4" controls width="640" height="480"></video>
                        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriMulti3.png" alt=""></a>
                
                    </div>


    <div class="estrella">
        <i>
            <span align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
            <div class="container">
                    <h2 style="margin-top: 0px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                            Por ultimo.</h2>
            </div>
    </section>

    <div class="parte2">
                        
            <p align=center style="width:900px;
            height:100px;  margin-left: 200px;
        margin-top: 10px;">
                    Multiplicar el 4 por la ultima cifra a la izquierda: 4x5
                    <br>
                    4x5 ¿cuanto es? 20.
                </p>

    </div>
   
    <div class="parte2">
            <p align=center style="margin-top: 0px; margin-bottom: -10px;">
                <span class="glyphicon glyphicon-comment"></span> Recuerda: haz guardado un 1 de antes.
                Hay que sumarlo: 20+1 ¿cuanto es? 21
            </p>

        </div>

        <div class="parte2">
                        
                <p align=center style="width:900px;
                height:100px;  margin-left: 200px;
            margin-top: 10px;">
                        Ya no hay mas numeros a la izquierda.
                        <br>
                        ponemos abajo todo el numero 21.
                        <br>
                        ¡Listo!
                        <br>
                        529 x 4 = 2116
                    </p>
    
        </div>

        <div class="video1">
            <video style="margin-left: 180px;" class="pequeña" src="assets/video/multiplicacion-teoria4.mp4" controls width="640" height="480"></video>
            <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriMulti43.png" alt=""></a>
    
        </div>

            <div class="estrella">
                    <i>
                        <span align=center class="glyphicon glyphicon-star"> </span>
                    </i>
                </div>

                <section class="page-section portfolio" id="portfolio">
                        <div class="container">
                            <!-- Portfolio Section Heading -->
                            <h2 style="margin-top: 0px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                                Ejemplo</h2>
                
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>                
                        </div>
                    </section>

                    <div style="margin-top: -50px;" class="parte1">
                            <br>
                            <h1 align=center>Ejemplo</h1>
                            <video style="margin-left: 180px;" class="pequeña" src="assets/video/ejemplo-multiplicacion.mp4" controls width="640" height="480"></video>
                            <p style="margin-top: -200px; margin-left: 680px;">
                                    Queremos comprar 40 ladrillos, y cuesta 10 mil por unidad 
                                    ¿Cuanto dinero debemos tener en total?
                            </p>
                    
                        </div>
                        
                            <a ><img style="margin-left: 200px; margin-top: 10px;" src="assets/img/EjemMulti.jpg"  alt=""> ></a>



    <section style="margin-top: 50px;" class="paginacion">
        <ul>
            <li><a routerLink="/contenido/vocabulario/multiplicaciones">1</a></li>
            <li><a routerLink="/contenido/teoria-multiplicaciones" class="active">2</a></li>
            <li><a routerLink="/contenido/multiplicaciones-Actividad1">3</a></li>
            <li><a href="pagina4.html">4</a></li>
            <li><a href="pagina5.html">5</a></li>
        </ul>
    </section>


</body>