<app-nav-lateral></app-nav-lateral>
<script src="https://code.jquery.com/jquery-latest.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>



    <div class="contenido">


        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">Teoria </h1>
                <h1 class="masthead-heading text-uppercase mb-0">Divisiones </h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

            </div>
        </header>

    </div>

    <div class="parte1">
        <br>
        <h1 align=center>Aprendamos a dividir</h1>
        <img align=center class="pequeña" src="assets/img/iconoDivision.png" alt="">
        <p>
            Veamos un ejemplo:
            <br>
            15 <span class="glyphicon glyphicon-ice-lolly"></span> / 5.
        </p>

    </div>

    <div class="parte2">
        <p align=center style="width:1000px;
            height:100px;  margin-left: 200px;
        margin-top: 10px;">
            Si quieres repartir cosas entre varias personas,¿Que hay que hacer?
            <br>
            Dividir. <br>
            "Dividir" y "Repartir" es muy parecido.

        </p>
    </div>

    <div class="estrella">
        <i>
            <span align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <div class="parte2">
        <p align=center style="width:1000px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            Yo tengo 15 paletas <span class="glyphicon glyphicon-ice-lolly"></span>. Las quiero repartir entre 5
            niños ¿que hago? Dividir.
            <br>
            ¿Cuantas paletas para cada uno? <br>
            Son 3 paletas <span class="glyphicon glyphicon-ice-lolly"></span> para cada niño.

        </p>
    </div>

    <div style="margin-top: 200px;" class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria1.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriDivi.png" alt=""></a>
    </div>

    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <div class="parte2">
        <p align=center style="width:1000px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            15 dividido entre 5 se escribe asi:

        </p>
    </div>


    <div  class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria2.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriDivi2.png" alt=""></a>
    </div>

    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <div class="parte2">
        <p align=center style="width:1000px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            Cada uno de los numeros de una division tiene un nombre:

        </p>
    </div>

    <div style="margin-top: -520px;" class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria3.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriDivi3.png" alt=""></a>
    </div>


    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 style="margin-top: -50px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Ejemplo</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <img align=center style="margin-left: 450px; width: 250px; height: 100px;" class="pequeña"
                src="assets/img/ejempDivi1.png" alt="">

            <p align=center>
                Primero: Buscamos un numero pero ¿cual?.
                <br>
                Buscamos un numero que multiplicado por el divisor sea igual o un poco
                menos que el numero que hay en el diviendo
                <br>
                Probamos: el 9 a ver <br>
                9 x 2 = 18 <br>
                Probamos otro: el 10 a ver <br>
                10 x 2 = 20 <br>
                ¡Prefecto! ¡20! No sobra nada. el resto es 0.
            </p>

        </div>
    </section>

    <div style="margin-top: 120px;" class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria4.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriDivi4.png" alt=""></a>
    </div>

    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <div class="parte2">
        <img align=center style="margin-left: 550px; width: 250px; height: 100px;" class="pequeña"
            src="assets/img/ejempDivi1.png" alt="">

        <p align=center style="width:900px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            10 x 2 ¿cuanto es? 20
            <br>
            Restamos: 20 - 20 = 0
            <br>
            El resto es 0. ¡No sobra nada!
            <br>
            Se llaman divisiones EXACTAS.
        </p>
    </div>

    
    <div  class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria5.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/TeoriDivi5.png" alt=""></a>
    </div>

    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 style="margin-top: -50px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Otra situacion:</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p align=center>
                Imagina que hacemos otra division ¡Pero el resto no es 0!
                <br>
                ¡Sobra algo!
                <br>
                Se llama divisiones Inexactas
            </p>

            <h2 style="margin-top: 0px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Ejemplo:</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- imagen 9 / 4 -->
            <img align=center style="margin-left: 450px; width: 250px; height: 100px;" class="pequeña"
                src="assets/img/ejempDivi2.png" alt="">

            <p align=center>
                Probamos: 2 X 4 = 8
                <br>
                9 - 8 = 1 ¡Sobra 1! ¡No es 0!
            </p>
        </div>
    </section>


    <div style="margin-top: -300px;"  class="video1">
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-teoria6.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña" style=" margin-top: -230px; margin-left: 700px;" src="assets/img/ejempDivi21.png" alt=""></a>
    </div>

    

    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 style="margin-top: -50px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Ejemplo</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </section>

    <div style="margin-top: -50px;" class="parte1">
        <br>
        <h1 align=center style="margin-top: -20px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Problema</h1>
        <video style="margin-left: 180px;" class="pequeña" src="assets/video/division-ejemplo.mp4" controls width="640" height="480"></video>
        <p style="margin-top: -200px; margin-left: 680px;">
            Carlos y pablo quieren repartir 12 globos entre los dos.
            ¿Cuántos globos tendra cada uno?
        </p>

    </div>

    <a><img style="margin-left: 200px; margin-top: 100px;" src="assets/img/ejempDivi3.png" alt=""></a>



    <section style="margin-top: 50px;" class="paginacion">
        <ul>
            <li><a routerLink="/contenido/vocabulario/divisiones">1</a></li>
            <li><a routerLink="/contenido/teoria-divisiones" class="active">2</a></li>
            <li><a routerLink="/contenido/divisiones-actividad-1">3</a></li>
            <li><a href="pagina4.html">4</a></li>
            <li><a href="pagina5.html">5</a></li>
        </ul>
    </section>




</body>