<app-nav-lateral></app-nav-lateral>
<script src="https://code.jquery.com/jquery-latest.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>



    <div class="contenido">


        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">Teoria </h1>
                <h1 class="masthead-heading text-uppercase mb-0">Fracciones </h1>
                <h1 class="masthead-heading text-uppercase mb-0">Parte I </h1>


                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

            </div>
        </header>

    </div>

    <div class="parte1">
        <br>
        <h1 align=center>Suma de fracciones con igual denominador</h1>
        <img align=center class="pequeña" src="assets/img/IconoFraccion.jpg" alt="">
        <p>
            ¿Como hacer la suma?
            <br>
        </p>

    </div>

    <div class="parte2">
        <p align=center style="width:1000px;
            height:100px;  margin-left: 200px;
        margin-top: 10px;">
            En el resultado:
            <br>
            Se coloca el mismo denominador (numero de abajo). <br>
            Los numeradores se suman (Numero de arriba).

        </p>
    </div>

    <div style="margin-top: 200px;" class="video1">
            <video style="margin-left: 180px;" class="pequeña"  src="assets/video/fraccion-suma1.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña"style=" margin-top: -230px; margin-left: 700px;" src="assets/img/EjemFrac1.jpg" alt=""></a>

    </div>


    <div class="estrella">
        <i>
            <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
        </i>
    </div>


    <div class="parte2">
        <p align=center style="width:1000px;
        height:100px;  margin-left: 200px;
    margin-top: 10px;">
            ¿Como hacer la resta?
            <br>
            En el resultado: <br>
            Se coloca el mismo denominador (numero de abajo) <br>
            Los numeradores se restan (numero de arriba)

        </p>
    </div>

    <div style="margin-top: 200px;" class="video1">
            <video style="margin-left: 180px;" class="pequeña"  src="assets/video/fraccion-suma2.mp4" controls width="640" height="480"></video>
        <a><img class="pequeña"style=" margin-top: -230px; margin-left: 700px;" src="assets/img/EjemFrac1.jpg" alt=""></a>

    </div>

    
            <div class="estrella">
                    <i>
                        <span style="margin-top: 100px; margin-bottom: 60px;" align=center class="glyphicon glyphicon-star"> </span>
                    </i>
                </div>

            <section class="page-section portfolio" id="portfolio">
                    <div class="container">
                        <!-- Portfolio Section Heading -->
                        <h2 style="margin-top: -50px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">
                            Ejemplo</h2>
            
                        <!-- Icon Divider -->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="divider-custom-line"></div>
                        </div>                
                    </div>
                </section>

                    <div style="margin-top: -50px;" class="parte1">
                            <br>
                            <h1 align=center style="margin-top: -20px;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Problema</h1>
                            <video style="margin-left: 180px;" class="pequeña" src="assets/video/fraccion-suma3.mp4" controls width="640" height="480"></video>
                            <p style="margin-top: -200px; margin-left: 680px;">
                                    Carlos se ha comido 1/4 de lasaña y pablo otro 1/4.
                                    ¿Entre los dos cuánta lasaña han comido?
                            </p>
                    
                        </div>

                        <a><img style="margin-left: 200px; margin-top: 100px;" src="assets/img/EjemFrac4.jpg" alt=""></a>

   

    <section style="margin-top: 50px;" class="paginacion">
        <ul>
            <li><a routerLink="/contenido/vocabulario/fracciones">1</a></li>
            <li><a routerLink="/contenido/teoria-fracciones-parte-1" class="active">2</a></li>
            <li><a routerLink="/contenido/teoria-fracciones-parte-2">3</a></li>
            <li><a href="pagina4.html">4</a></li>
            <li><a href="pagina5.html">5</a></li>
        </ul>
    </section>




</body>