<app-nav-lateral></app-nav-lateral>
<body> 
    <div class="contenido"> 

        <header class="masthead bg-primary text-white text-center">
          <div class="container d-flex align-items-center flex-column">
      
            <!-- Masthead Avatar Image -->
            <img style="margin-top: 100px;" class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="">
      
            <!-- Masthead Heading -->
            <h1 style="margin-top: -45px;" class="masthead-heading text-uppercase mb-0">Administrador</h1>
      
            <!-- Icon Divider -->
            <div style="margin-top: -10px;" class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
              </div>
              <div class="divider-custom-line"></div>
            </div>
      
            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
      
          </div>
        </header>
  
         <!-- Portfolio Section -->
    <section style="margin-top:-45px; margin-bottom: -70px;" class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Gestionar</h2>

         <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      </div>
  </section>
  
  <section class="bg-white btn-container">
      
  <div class="btn-item">
        <a class="btn-ghost"  routerLink="/administrador/profesores">Profesores</a>
        <a class="btn-ghost" routerLink="/administrador/estudiantes" > Estudiantes</a>
        <a class="btn-ghost" routerLink="/administrador/cursos" > Cursos</a>

      </div>
  </section>  
  
      </div>
</body>


