<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<app-nav-lateral></app-nav-lateral>
<body> 
    <div class="contenido"> 

        <header class="masthead bg-primary text-white text-center">
          <div class="container d-flex align-items-center flex-column">
      
            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="assets/img/Estudian.svg" alt="">
      
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Estudiante</h1>
      
            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
              </div>
              <div class="divider-custom-line"></div>
            </div>
      
            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
      
          </div>
        </header>
  
         <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Consultar</h2>

         <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      </div>
  </section>
  
  <section class="bg-white btn-container">
      
  <div class="btn-item">
        <a class="btn-ghost-2" routerLink="/estudiante/calificaciones" > Calificaciones</a>
      </div>
  </section>  
  
      </div>
</body>


